<div class="contents row">
  <% @articles.each do |article| %>
    <%= image_tag article.image, class: "article-img" %>
    <p><%= article.text %></p>
    <span class="name">
      <%= article.store_name %>
    </span>
  <% end %>
</div>