<%= render "shared/header" %>
<h1>フォローされてます</h1>
<div class="follow-box">
  <% @users.each do |user| %>
    <%= image_tag user.image, class: "icon" %>
    <%= link_to user.nickname, user_path(user.id) %>
  <% end %>
</div>