<%= render "shared/header" %>
<h1>フォローされてます</h1>
<div class="follow-box">
  <% @users.each do |user| %>
    <div class="follow-list">
      <%= image_tag user.image.to_s, class: "icon" %>
      <%= link_to user.nickname, user_path(user.id) %>
    </div>
  <% end %>
</div>