.notification-room {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 40px;
}
.notification-box {
  display: flex;
  align-items: center;
  border: solid;
  padding: 40px;
  margin: 10px;
}
.icon {
  width: 100px;
}